/* style.css            */
/* Unit 7: Rock Paper Scissors */
/* 8/Apr/2019                  */

body {
}


/* - - - -  class  - - - - - */
.rpsImage {
	 height		: 240px;
}


/* - - - -  id  - - - - - */
#topHeader {
	font-family: 'Indie Flower', cursive;
}

#maxH {
	max-height	: 200px;
}

#leftP {
	padding-left: 90px;
}


/* - - -  Media Queries  - - - */
@media only screen and (max-width: 980px) { 
    h1 {
        font-size:      40px;
    }

	#leftP {
		padding-left: 90px;
	}

}

@media only screen and (max-width: 768px) {
    h1 {
        font-size:      30px;
    }

	#leftP {
		padding-left: 60px;
	}

}

@media only screen and (max-width: 640px) {
    h1 {
        font-size:      20px;
    }
	
	#leftP {
		padding-left: 40px;
	}

}